# App
EXPO_PUBLIC_APP_NAME=GoalFlow
EXPO_PUBLIC_APP_ENV=development

# Supabase — à activer plus tard
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Feature flags
EXPO_PUBLIC_ENABLE_SUPABASE=false
EXPO_PUBLIC_ENABLE_AI=false